@{
    ViewBag.Title = "A Propos";
}

<div>
    <h2>A Propos</h2>
    <p>
        Site réalisé dans le cadre d'un projet pluridisciplinaire <br />
        Regroupe les cours d'Asp, Analyse, C# et Anglais. <br />
        Réalisé par Sylvain Duhant et Florentin Pardons 
    </p>
</div>
