@using AspCuisineN1.Models.Poko;
@{
    ViewBag.Title = "Consultation des Themes";
}

<h2>Liste de Theme</h2>
<table class="table">
    <tbody>
        @{
            foreach (CTheme c in ViewBag.list_theme)
            {
                <tr>
                    <td>Nom : @c.Nom</td>
                    <td>Description : @c.Description</td>
                </tr>
            }
        }
    </tbody>
</table>