@{
    ViewBag.Title = "Accueil";
}

<div>
    <h2>Commande et preparation de plat en ligne</h2>
    <p>
        Ce site vous permets de commander des plats trié par theme et préparé par des cuisiniers amateur de votre région <br />
        Vous pouvez aussi vous inscrire en tant que cuisinier amateur et proposer vos propre plat sur notre site
    </p> 
</div>